[flake8]
ignore = W503, E731  # Line break before binary operator. Assign a lambda expression.
max-line-length = 89
exclude = __init__.py
per-file-ignores =
    # Imported but unused
    __init__.py: F401
    # Invalid escape sequence \s, \w, etc...
    nlp.py: W605
