numpy>=1.21.6
scipy>=1.8.1
pandas>=1.3.5
pandas-profiling>=3.2.0
explainerdashboard>=0.3.8.2
mlflow>=1.26
dill>=0.3.5
tqdm>=4.64
joblib>=1.1.0
typeguard>=2.13
scikit-learn>=1.0.1
scikit-optimize>=0.9.0
nltk>=3.7
tpot>=0.11.7
category-encoders>=2.4.1
imbalanced-learn>=0.9.0
featuretools>=1.9
gplearn>=0.4.1
zoofs>=0.1.24
matplotlib>=3.5.0
seaborn>=0.11.0
shap>=0.40
wordcloud>=1.8.1
schemdraw>=0.14
