{% extends "main.html" %}

{% block tabs %}
{{ super() }}

<style>

    section {
        padding-bottom: 5em;
    }

    h1 {
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.0);
        text-align: center;
        font-weight: 600;
        font-size: 3em;
        color: #2a978d;
        margin-top: 15px;
        margin-bottom: 45px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
      width: 700px;
      height: 180px;
    }

    .description {
        position: relative;
        left: 50%;
        margin-left: -350px;
        padding-bottom: 2rem;
        width: 700px;
        font-size: 2em;
        text-align: left;
    }

    .button {
        color: #FFF;
        background: #2a978d;
        padding: 12px 18px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border: 2px solid #2a978d;
        font-weight: 700;
        font-size: 1em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .button:hover {
        background: white;
        color: #2a978d;
        border: 2px solid #2a978d;
    }

    [data-md-color-scheme="slate"] .button:hover {
        background: var(--md-default-bg-color);
    }

    .button-secondary {
        color: #2a978d;
        background: white;
        border: 2px solid #2a978d;
    }

    [data-md-color-scheme="slate"] .button-secondary {
        background: var(--md-default-bg-color);
    }

    .button-secondary:hover {
        background: #2a978d;
        color: white;
    }

    [data-md-color-scheme="slate"] .button-secondary:hover {
        background: #2a978d;
        color: white;
    }

    .slack-button {
        position: relative;
        left: 50%;
        margin-left: -225px;
        width: 450px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0.0);
        text-align: center;
        font-weight: 600;
        font-size: 3em;
        color: #2a978d;
        margin-top: 15px;
        margin-bottom: 45px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        border: 3px solid #2a978d;
        background-color: #fff;
        border-radius: 25px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;display: flex;
        padding-left: 45px;
    }

    .slack-container {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .slack-img {
        position: relative;
        width: 80px;
        height: 80px;
    }

    .slack-text {
        position: relative;
        margin-left: 15px;
    }

    .story-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

   .story {
        margin: 15px;
        text-align: center;
        width: 500px;
        float: left;
        background-color: white;
        color: black;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

   [data-md-color-scheme="slate"] .story {
        background: #355876;
        color: #dfe1f2;
    }

   .story:hover {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        -o-transform: scale(1.06);
        transform: scale(1.06);
    }

   .story-title {
        padding: 20px 20px 0 20px;
        background-color: white;
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        color: #2a978d;
        margin-top: 15px;
        margin-bottom: 45px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    }

    [data-md-color-scheme="slate"] .story-title {
        background: #355876;
    }

   .story-text {
        padding: 0 30px 0 30px;
        color: #4c4c54;
        text-align: left;
        font-size: 1.5em;
    }

   [data-md-color-scheme="slate"] .story-text {
        color: #dfe1f2;
    }

    .story-read {
        background: #FFF;
        padding: 15px;
        text-align: left;
        overflow: hidden;
    }

    [data-md-color-scheme="slate"] .story-read {
        background: #355876;
    }

    .story-read .read-more {
        float: right;
        color: #FFF;
        background: #355876;
        padding: 12px 18px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border: 2px solid #355876;
        font-weight: 700;
        font-size: 1.6em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .story-read .read-more:hover {
        background: white;
        color: #355876;
    }

    [data-md-color-scheme="slate"] .story-read .read-more {
        border-color: white;
        background: #355876;
        color: white;
    }

    [data-md-color-scheme="slate"] .story-read .read-more:hover {
        background: white;
        color: #355876;
    }

    @media only screen and (max-width: 720px) {
        section {padding-bottom: 2em}
        h1 {font-size: 2em}
        .logo {width: 300px; height: 80px}
        .description {font-size: 1.5em; width: 90%; margin-left: -45%}
        .slack-button {font-size: 2.0em; width: 90%; margin-left: -45%}
    }

</style>


<section>
    <div style="overflow: hidden;">
      <svg
        preserveAspectRatio="none"
        viewBox="0 0 1200 120"
        xmlns="http://www.w3.org/2000/svg"
        style="fill: rgba(0,147,135,255); width: 100%; height: 97px;"
      >
        <path
        d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
        opacity=".25"
      />
        <path
          d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
          opacity=".5"
        />
        <path d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z" />
      </svg>
    </div>

    <img src="img/logo.png" alt="" class="logo" draggable="false">
    <h1>A Python package for fast exploration of machine learning pipelines</h1>
    <div class="description">
        <p style="margin-bottom: 2em">
            ATOM is an open-source, easy-to-use machine learning package for Python.
            ATOM is capable of running experiments quickly and efficiently, enabling
            the user to go from raw data to generating insights in just a few lines
            of code.
        </p>
        <a href="about" class="button">Read more</a>
        <a href="getting_started" class="button button-secondary">Get started</a>
    </div>
</section>

<!--<section>-->
<!--    <div class="slack-button button-secondary">-->
<!--        <a href="https://join.slack.com/t/atom-alm7229/shared_invite/zt-upd8uc0z-LL63MzBWxFf5tVWOGCBY5g" target="_blank" draggable="false">-->
<!--            <div class="slack-container">-->
<!--                <img src="img/slack.png" alt="slack" class="slack-img" draggable="false">-->
<!--                <div class="slack-text">Join us on slack!</div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
<!--</section>-->

<!--<section>-->
<!--    <h1 style="margin-bottom: -10px">Why you should use ATOM</h1>-->
<!--    <div class="description" style="display: flex; justify-content: center;">-->
<!--        <ul>-->
<!--            <li>Avoid endless imports and documentation lookups</li>-->
<!--            <li>Multiple data cleaning and feature engineering classes</li>-->
<!--            <li>35+ classification and regression models to choose from</li>-->
<!--            <li>Possibility to train multiple models with one line of code</li>-->
<!--            <li>Fast implementation of hyperparameter tuning</li>-->
<!--            <li>Easy way to compare the results from different models</li>-->
<!--            <li>35+ plots to analyze the data and model performance</li>-->
<!--            <li>Avoid refactoring to test new pipelines</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</section>-->

<!--<section>-->
<!--    <h1 style="margin-bottom: -10px">Read our stories</h1>-->
<!--    <div class="story-wrapper">-->
<!--        <div class="story">-->
<!--            <img src="img/stories/tds.jpeg" alt="tds" height="90px" width="100%">-->
<!--            <img src="img/stories/story_1.jpg" alt="story_1" height="300px" width="100%" draggable="false" style="margin-top: -5px">-->
<!--            <p class="story-title">ATOM: A Python package for fast exploration of machine learning pipelines</p>-->
<!--            <p class="story-text">-->
<!--                During the exploration phase of a project, a data scientist tries-->
<!--                to find the optimal pipeline for his specific use case. This usually-->
<!--                involves applying standard data cleaning steps, creating or selecting-->
<!--                useful features, trying out different models, etc. Testing multiple-->
<!--                pipelines requires many lines of code, and writing it all in the same-->
<!--                notebook...-->
<!--            </p>-->

<!--            <div class="story-read">-->
<!--                <a href="https://towardsdatascience.com/atom-a-python-package-for-fast-exploration-of-machine-learning-pipelines-653956a16e7b"-->
<!--                   draggable="false" class="read-more">Read more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="story">-->
<!--            <img src="img/stories/tds.jpeg" alt="tds" height="90px" width="100%">-->
<!--            <img src="img/stories/story_2.jpg" alt="story_2" height="300px" width="100%" draggable="false" style="margin-top: -5px">-->
<!--            <p class="story-title">How to test multiple machine learning pipelines with just a few lines of Python</p>-->
<!--            <p class="story-text">-->
<!--                Since it's nearly impossible to know beforehand which transformations-->
<!--                will benefit the model's outcome the most, this process usually involves-->
<!--                trying out different approaches. For example, if we are dealing with-->
<!--                an imbalanced dataset, should we oversample the minority class or-->
<!--                undersample the majority...-->
<!--            </p>-->

<!--            <div class="story-read">-->
<!--                <a href="https://towardsdatascience.com/how-to-test-multiple-machine-learning-pipelines-with-just-a-few-lines-of-python-1a16cb4686d"-->
<!--                   draggable="false" class="read-more">Read more</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="story">-->
<!--            <img src="img/stories/tds.jpeg" alt="tds" height="90px" width="100%">-->
<!--            <img src="img/stories/story_3.jpg" alt="story_3" height="300px" width="100%" draggable="false" style="margin-top: -5px">-->
<!--            <p class="story-title">From raw data to web app deployment with ATOM and Streamlit</p>-->
<!--            <p class="story-text">-->
<!--                In this article we will show you how to create a simple web app,-->
<!--                capable of helping a data scientist to quickly perform a basic-->
<!--                analysis on the performance of predictive models on a provided-->
<!--                dataset. The user will be able to upload his own dataset and tweak-->
<!--                the machine learning pipeline in two ways: selecting which data-->
<!--                cleaning steps to apply...-->
<!--            </p>-->

<!--            <div class="story-read">-->
<!--                <a href="https://towardsdatascience.com/from-raw-data-to-web-app-deployment-with-atom-and-streamlit-d8df381aa19f"-->
<!--                   draggable="false" class="read-more">Read more</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

{% endblock %}

{% block content %}{% endblock %}
{% block footer %}{% endblock %}