.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

.column {
  float: left;
  width: 25%;
  padding: 2px;
  text-align: center;
}

.row {
    margin-top: 30px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.td_title {
    background: #F5F5F5;
}
.td_params {
    background: white;
}

[data-md-color-scheme="slate"] .td_title {
    background: #343d55;
    color: #dfe1f2;
}
[data-md-color-scheme="slate"] .td_params {
    background: #333543;
    color: #dfe1f2;
}