/* Reset ATOM fontweight in header */
.md-ellipsis {
    font-weight: normal;
}


/* Table format for about page*/
.md-typeset__table {
   min-width: 100%;
}
.md-typeset table:not([class]) {
    display: table;
}
.column {
  float: left;
  width: 25%;
  padding: 2px;
  text-align: center;
}
.row {
    margin-top: 30px;
}
.row::after {  /* Clear floats after image containers */
    content: "";
    clear: both;
    display: table;
}
.column .icon {
    width: 70%;
}
.column a img {
    position: relative;
    width: 100px;
    height: 100px;
}
.column .icon:hover {
    transform: scale(1.1);
}
.column .icon a:hover {
    color: #009485;
}
.column .icon a:active {
    color: #009485;
}
.column .icon a:visited {
    color: #009485;
}
.column .icon a:link {
    color: #009485;
}



/* Parameter tables layout */
.td_title {
    background: #F5F5F5;
}
.td_params {
    background: white;
}

[data-md-color-scheme="slate"] .td_title {
    background: #343d55;
    color: #dfe1f2;
}
[data-md-color-scheme="slate"] .td_params {
    background: #333543;
    color: #dfe1f2;
}

/* Examples notebooks layout for dark mode */
[data-md-color-scheme="slate"] .highlight-ipynb {
    background: #343d55;
    color: #dfe1f2;
}
[data-md-color-scheme="slate"] .highlight-ipynb .p {
    color: #dfe1f2;
}
[data-md-color-scheme="slate"] .highlight-ipynb .c1 {
    color: #009485;
}
[data-md-color-scheme="slate"] .highlight-ipynb .kn {
    color: #90ee90;
}
[data-md-color-scheme="slate"] .highlight-ipynb .kc {
    color: #90ee90;
}
[data-md-color-scheme="slate"] .highlight-ipynb .mi {
    color: #90ee90;
}
[data-md-color-scheme="slate"] .highlight-ipynb .s2 {
    color: #FF7F7F;
}
[data-md-color-scheme="slate"] .highlight-ipynb .o {
    color: #b19cd9;
}
[data-md-color-scheme="slate"] .dataframe th {
    color: #dfe1f2;
    background: #355876;
}
[data-md-color-scheme="slate"] .dataframe td {
    color: #dfe1f2;
    background: #355876;
}