name: Build and release

on:
  workflow_dispatch:

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all commits/branches
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -U pdm
          pdm install -G full -G doc
      - name: Update documentation
        run: |
          echo "Deploying documentation for release ATOM ${GITHUB_REF_NAME::-2}"
          mike deploy --push --update-aliases ${GITHUB_REF_NAME::-2} latest

  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Check out source repository
      uses: actions/checkout@v4
    - name: Set up Python environment
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        pip install -U pdm pdm-backend
    - name: Build
      run: |
        rm -rf dist/*
        pdm build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_PWD }}
        verbose: true
